imgur-downloader==0.2.2
firebase-admin==3.2.1
google-cloud-firestore==1.6.2
youtube_dl==2019.11.28
praw==6.4.0
opencv-python==4.2.0.34
python-dotenv==0.10.3
pyyaml==5.3.1
sk-video==1.1.10 
tensorflow==2.2.0
